.Pagination {
  .paginationInput {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #363636;
    font-size: 1em;
    justify-content: center;
    margin: 0.25rem;
    padding: 0.5em;
    text-align: center;
    width: 38px;
  }
}
