.AuthorInfoModal {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .titleSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
    .thumbnail {
      width: 80px;
      height: 80px;
    }
  }
  .closeBtn {
    align-self: flex-end;
    margin-top: 16px;
  }
}
