.ListItem {
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      .postMainInfo {
        margin-left: 8px;
        display: flex;
        flex-direction: column;

      }
      .postTitle {
        cursor: pointer;
      }
    }
    .right {
      button:first-child {
        margin-right: 8px;
      }
    }
    .thumbnail {
      width: 80px;
      height: 80px;
    }

  }
}
