.Post {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

 .details {
   margin: 16px 0 16px 0;
   display: flex;
   justify-content: space-between;
   width: 100%;
 }
}
