*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* Set base rem unit to 10px */
  font-size: 62.5%;
}

body {
  /* Set base font size to 16px */
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#root {
  min-height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/components/modal.sass';
@import '../node_modules/bulma/sass/components/pagination.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';

